<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-nativegps" version="0.0.1" 
    xmlns="http://apache.org/cordova/ns/plugins/1.0" 
    xmlns:android="http://schemas.android.com/apk/res/android">
    <name>NativeGps</name>
    <js-module name="NativeGps" src="www/NativeGps.js">
        <clobbers target="cordova.plugins.NativeGps" />
    </js-module>
    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="NativeGps">
                <param name="ios-package" value="NativeGps" />
            </feature>
        </config-file>
        <source-file src="src/ios/NativeGps.m" />
        <framework src="CoreLocation.framework" />

        <preference name="LOCATION_USAGE_DESCRIPTION" default="Need location access to find things nearby." />
        <config-file target="*-Info.plist" parent="NSLocationWhenInUseUsageDescription">
            <string>$LOCATION_USAGE_DESCRIPTION</string>
        </config-file>
        <config-file target="*-Info.plist" parent="NSLocationAlwaysAndWhenInUseUsageDescription">
            <string>$LOCATION_USAGE_DESCRIPTION</string>
        </config-file>
    
    </platform>
    <platform name="android">
        <framework custom="true" src="src/android/nativegps-sdk.gradle" type="gradleReference"/>
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="NativeGps">
                <param name="android-package" value="com.appsky.plugin.NativeGps" />
            </feature>
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml">
         <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
         <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
        </config-file>
        <source-file src="src/android/NativeGps.java" target-dir="src/cordova-plugin-nativegps/NativeGps" />
    </platform>
</plugin>
